{{#images}}
    {{#attachment}}
    <a class="bildgruppe attachment id_{{_id}}" style="display: none;" rel="id_{{_id}}" href="/images/{{_id}}/{{attachment}}" title="{{{caption}}}" href="/images/{{_id}}/{{attachment}}">
            <img src="/images/{{_id}}/{{attachment}}" alt="" />
        </a>
    {{/attachment}}
{{/images}}

<div class="postContent">
    {{#segments}}
        {{#text}}<p>{{{text}}}</p>{{/text}}
        {{#image}}
            {{#caption}}<div class="thumbnail">{{/caption}}
                <a  class="bild id_{{_id}}" rel="id_{{_id}}" href="#"> 
                    <img src="/images/{{_id}}/{{image}}" alt=""/>
                </a>
            {{#caption}}<p>{{{caption}}}</p></div>{{/caption}}
        {{/image}}
        {{#html}}{{{html}}}{{/html}}
        {{#hasThumbnails}}
            <ul class="thumbnails">
                {{#thumbnails}}
                    <li class="span4">
                        {{#caption}}<div class="thumbnail">{{/caption}}
                            <a  class="bild id_{{_id}}" rel="id_{{_id}}" href="#"> 
                                <img src="/images/{{_id}}/{{image}}" alt=""/>
                            </a>
                        {{#caption}}<p>{{{caption}}}</p></div>{{/caption}}
                    </li>
                {{/thumbnails}}
            </ul>
        {{/hasThumbnails}}
    {{/segments}}
</div>

<ul class="nav nav-list">
    <li class="divider"></li>
</ul>

{{#hasAttachmentsOrLinks}}
    <ul class="nav">
{{/hasAttachmentsOrLinks}}

{{#hasAttachments}}
    {{#attachments}}
        <li>
            <a href="/posts/{{_id}}/{{{filenameUrlEncoded}}}" target="_blank">
                {{filename}}
                {{#license}}<span style="float:right">(license: {{license}})</span>{{/license}}
            </a>
        </li>
    {{/attachments}}
{{/hasAttachments}}

{{#hasLinks}}
    {{#links}}
        <li><a href="{{url}}" target="_blank">{{name}}</a></li>
    {{/links}}
{{/hasLinks}}


{{#hasAttachmentsOrLinks}}
    </ul>
{{/hasAttachmentsOrLinks}}
