.project
.pydevproject
_trial_temp
dropin.cache
dist
dev
*.egg-info
*.swp
*.dmg
*.pid
*.pyc
*.dylib
*.os
*_UI.py
*_rc.py
*.log*
build/
UI_*.py
.DS_Store
.settings
config/*.cfg
*.backup
*.ropeproject/objectdb
*.ropeproject/globalnames
*~
node_modules/
