{{#post}}
<!--TODO: BUG WITH PARTIALS/ONLY ONE PARTIAL AT A TIME? -->
<div class="navbar navbar-inverse">
    <div class="navbar-inner">
        <a class="brand">{{title}}</a>
        <ul class="nav">
            <li><a href="/admin">{{#__}}Overview{{/__}}</a></li>
            <li><a href="/admin/config">{{#__}}Config{{/__}}</a></li>
            <li><a href="/admin/posts">{{#__}}Posts{{/__}}</a></li>
            <li class="active"><a href="#">{{#__}}Post{{/__}}</a></li>
        </ul>
        <ul class="nav pull-right">
            <li><a href="/">{{#__}}Back To Blog{{/__}}</a></li>
        </ul>
    </div>
</div>

<ul class="nav nav-tabs">
    <li><a href="/admin/post/{{_id}}/settings">{{#__}}Settings{{/__}}</a></li>
    <li><a href="/admin/post/{{_id}}/images">{{#__}}Images{{/__}}</a></li>
    <li><a href="/admin/post/{{_id}}/segments">{{#__}}Segments{{/__}}</a></li>
    <li><a href="/admin/post/{{_id}}/attachments">{{#__}}Attachments{{/__}}</a></li>
    <li><a href="/admin/post/{{_id}}/links">{{#__}}Links{{/__}}</a></li>
    <li class="active"><a>{{#__}}Preview{{/__}}</a></li>
    {{^published}}<a href="/admin/post/{{_id}}/publish/preview" class="btn btn-success" style="float:right">{{#__}}Publish{{/__}}</a>{{/published}}
    {{#published}}<a href="/admin/post/{{_id}}/depublish/preview" class="btn btn-warning" style="float:right">{{#__}}Depublish{{/__}}</a>{{/published}}
</ul>

<div>
    <h3 style="margin-bottom:0"><a href='/posts/{{_id}}'>{{name}}</a></h3>
    <span class="label label-info" style="margin-bottom:8px;">{{#__}}Posted {{/__}}{{date}}</span>
    {{#disqus_shortname}}
        <span class="label label-warning" style="margin-bottom:8px;"><a href='/posts/{{_id}}#disqus_thread' style="text-decoration:none;color:white;">{{#__}}0 Comments and 0 Reactions{{/__}}</a></span>
    {{/disqus_shortname}}

    {{>post}}
</div>
{{/post}}

{{#disqus_shortname}}
    <script type="text/javascript">
    var disqus_shortname = '{{disqus_shortname}}';
    (function () {
        var s = document.createElement('script'); s.async = true;
        s.type = 'text/javascript';
        s.src = 'https://' + disqus_shortname + '.disqus.com/count.js';
        (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
    }());
    </script>
{{/disqus_shortname}}
