<style>
    button, input, textarea {width:100%}
</style>
<div class="navbar navbar-inverse">
    <div class="navbar-inner">
        <a class="brand">{{title}}</a>
        <ul class="nav">
            <li><a href="/admin">{{#__}}Overview{{/__}}</a></li>
            <li class="active"><a href="#">{{#__}}Config{{/__}}</a></li>
            <li><a href="/admin/posts">{{#__}}Posts{{/__}}</a></li>
        </ul>
        <ul class="nav pull-right">
            <li><a href="/">{{#__}}Back To Blog{{/__}}</a></li>
        </ul>
    </div>
</div>
