{{>admin_config}}
<ul class="nav nav-tabs">
    <li><a href="/admin/config/settings">{{#__}}Settings{{/__}}</a></li>
    <li><a href="/admin/config/css">CSS</a></li>
    <li><a href="/admin/config/disclaimer">{{#__}}Disclaimer{{/__}}</a></li>
    <li class="active"><a>{{#__}}Images{{/__}}</a></li>
    <li><a href="/admin/config/extra">{{#__}}Extra images{{/__}}</a></li>
</ul>

<form class="form" method="post" enctype="multipart/form-data" action="/admin/config/images">
    <div class="tab-content">
        <div class="tab-pane active">
            <div class="row">
                <div class="span2">
                    <label>{{#__}}Favicon{{/__}}</label>
                </div>
                <div class="span5">
                    <img class="img-polaroid" src="/images/config/favicon.ico">
                </div>
                <div class="span5">
                    <label>{{#__}}File upload{{/__}}</label>
                    <input type="file" name="favicon_ico">
                </div>
            </div>
            <div class="row" style="height:10px"></div>
            <div class="row">
                <div class="span2">
                    <label>{{#__}}Title image{{/__}}</label>
                </div>
                <div class="span5">
                    <img class="img-polaroid" src="/images/config/titleImage.png">
                </div>
                <div class="span5">
                    <label>{{#__}}File upload{{/__}}</label>
                    <input type="file" name="titleImage_png">
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="height:10px"></div>
    <div class="row">
        <div class="span2">
            <button type="submit" class="btn">{{#__}}Upload{{/__}}</button>
        </div>
    </div>
</form>
