{{>admin_config}}
<ul class="nav nav-tabs">
    <li class="active"><a>{{#__}}Settings{{/__}}</a></li>
    <li><a href="/admin/config/css">CSS</a></li>
    <li><a href="/admin/config/disclaimer">{{#__}}Disclaimer{{/__}}</a></li>
    <li><a href="/admin/config/images">{{#__}}Images{{/__}}</a></li>
    <li><a href="/admin/config/extra">{{#__}}Extra images{{/__}}</a></li>
</ul>

{{#config}}
<form class="form" method="post" enctype="multipart/form-data" action="/admin/config/settings">
    <div class="row">
        <div class="span4">
            <label>{{#__}}Title{{/__}}</label>
            <input type="text" placeholder="{{#__}}name of the blog{{/__}}" value="{{title}}" name="title">
        </div>
        <div class="span7 offset1">
            <label>{{#__}}Subitle{{/__}}</label>
            <input type="text" placeholder="{{#__}}something catchy{{/__}}" value="{{subtitle}}" name="subtitle">
        </div>
    </div>
    <div class="row">
        <div class="span2">
            <label>{{#__}}Pagination{{/__}}</label>
            <input type="checkbox" value="true" name="pagination" {{#pagination}}checked{{/pagination}}>
        </div>
        <div class="span2">
            <label>{{#__}}Show Admin Link{{/__}}</label>
            <input type="checkbox" value="true" name="adminlink" {{#adminlink}}checked{{/adminlink}}>
        </div>
        <div class="span7 offset1">
            <label>{{#__}}Posts per page{{/__}}</label>
            <input type="number" value="{{#postsPerPage}}{{postsPerPage}}{{/postsPerPage}}{{^postsPerPage}}10{{/postsPerPage}}" name="postsPerPage">
        </div>
    </div>
    <div class="row">
        <div class="span12">
            <label>{{#__}}Disqus Shortname{{/__}}</label>
            <input type="text" placeholder="{{#__}}register at disqus.com{{/__}}" value="{{disqus_shortname}}" name="disqus_shortname">
        </div>
    </div>
    <div class="row">
        <div class="span12">
            <label>{{#__}}Sidebar{{/__}}</label>
            <textarea type="text" name="sidebar" rows="18">{{sidebar}}</textarea>
        </div>
    </div>
    <div class="row" style="height:10px"></div>
    <div class="row">
        <div class="span2">
            <button type="submit" class="btn">{{#__}}Save{{/__}}</button>
        </div>
    </div>
</form>
{{/config}}
