{{^noConfigDoc}}
{{>admin_config}}
<ul class="nav nav-tabs">
    <li><a href="/admin/config/settings">{{#__}}Settings{{/__}}</a></li>
    <li><a href="/admin/config/css">CSS</a></li>
    <li class="active"><a>{{#__}}Disclaimer{{/__}}</a></li>
    <li><a href="/admin/config/images">{{#__}}Images{{/__}}</a></li>
    <li><a href="/admin/config/extra">{{#__}}Extra images{{/__}}</a></li>
</ul>
{{/noConfigDoc}}

{{#config}}
<form class="form" method="post" enctype="multipart/form-data" action="/admin/config/disclaimer">
    <div class="row">
        <div class="span12">
            <label>{{#__}}Disclaimer{{/__}}</label>
            <textarea type="text" name="disclaimer" rows="20">{{disclaimer}}</textarea>
        </div>
    </div>
    <div class="row" style="height:10px"></div>
    <div class="row">
        <div class="span2">
            <button type="submit" class="btn">{{#__}}Save{{/__}}</button>
        </div>
    </div>
</form>
{{/config}}
