<div class="navbar navbar-inverse">
    <div class="navbar-inner">
        <a class="brand">{{title}}</a>
        <ul class="nav">
            <li><a href="/admin">{{#__}}Overview{{/__}}</a></li>
            <li><a href="/admin/config">{{#__}}Config{{/__}}</a></li>
            <li class="active"><a href="#">{{#__}}Posts{{/__}}</a></li>
        </ul>
        <ul class="nav pull-right">
            <li><a href="/">{{#__}}Back To Blog{{/__}}</a></li>
        </ul>
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>{{#__}}Date{{/__}}</th>
            <th>{{#__}}Name{{/__}}</th>
            {{#disqus_shortname}}
                <th>{{#__}}Comments{{/__}}</th>
            {{/disqus_shortname}}
            <th>{{#__}}Actions{{/__}}</th>
        </tr>
    </thead>
    <tbody>
    {{#posts}}
        {{^published}}
        <tr style="background-color:rgba(252,248,227,0.4)">
        {{/published}}
        {{#published}}
        <tr style="background-color:rgba(223,240,216,0.4)">
        {{/published}}

            <td>{{date}}</td>
            <td>{{name}}</td>
            {{#disqus_shortname}}
                <td>
                    <a href='/posts/{{_id}}#disqus_thread' style="text-decoration:none;color:white;">{{#__}}0 Comments and 0 Reactions{{/__}}</a>
                </td>
            {{/disqus_shortname}}
            <td>
                <a href="/admin/post/{{_id}}/preview" class="btn">{{#__}}Preview{{/__}}</a>
                <a href="/admin/post/{{_id}}" class="btn">{{#__}}Edit{{/__}}</a>
                {{^published}}
                <a href="/admin/posts/publish/{{_id}}" class="btn btn-success">{{#__}}Publish{{/__}}</a>
                {{/published}}
                {{#published}}
                <a href="/admin/posts/depublish/{{_id}}" class="btn btn-warning">{{#__}}Depublish{{/__}}</a>
                {{/published}}
                <a href="/admin/posts/delete/{{_id}}" class="btn btn-danger">{{#__}}Delete{{/__}}</a>
            </td>
        </tr>
    {{/posts}}
    </tbody>
</table>

<div class="row">
    <div class="span2 offset10">
        <a href="/admin/posts/create" class="btn">{{#__}}New post{{/__}}</a>
    </div>
</div>

{{#disqus_shortname}}
    <script type="text/javascript">
    var disqus_shortname = '{{disqus_shortname}}';
    (function () {
        var s = document.createElement('script'); s.async = true;
        s.type = 'text/javascript';
        s.src = 'https://' + disqus_shortname + '.disqus.com/count.js';
        (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
    }());
    </script>
{{/disqus_shortname}}
