<ul class="breadcrumb">
    {{#category}}<li><a href="/">Home</a> <span class="divider">/</span></li><li class="active">{{category}}</li>{{/category}}
    {{^category}}<li class="active">Home{{/category}}
</ul>

{{#posts}}
    <div>
        <h3 style="margin-bottom:0"><a href='/posts/{{_id}}'>{{name}}</a></h3>
        <span class="label label-info" style="margin-bottom:8px;">Posted {{date}}</span>
        {{#categories}}
            <span class="label label-success" style="margin-bottom:8px;"><a href='/category/{{category}}' style="text-decoration:none;color:white;">{{category}}</a></span>
        {{/categories}}
        {{#disqus_shortname}}
            <span class="label label-warning" style="margin-bottom:8px;"><a href='/posts/{{_id}}#disqus_thread' style="text-decoration:none;color:white;">0 Comments and 0 Reactions</a></span>
        {{/disqus_shortname}}

        {{>post}}
    </div>
{{/posts}}

{{#pagination}}
    <ul class="pager">
{{#hasPrevious}}
    <li class="previous">
        <a href="{{previousPath}}">&larr; Older posts</a>
    </li>
{{/hasPrevious}}
{{#hasNext}}
    <li class="next">
        <a href="{{nextPath}}">Newer posts &rarr;</a>
    </li>
{{/hasNext}}
    </ul>
{{/pagination}}

{{^posts}}
    {{#noSearchResults}}
        No posts match your search query!
    {{/noSearchResults}}
    {{^noSearchResults}}
        No posts found!
    {{/noSearchResults}}
{{/posts}}

{{#disqus_shortname}}
    <script type="text/javascript">
    var disqus_shortname = '{{disqus_shortname}}';
    (function () {
        var s = document.createElement('script'); s.async = true;
        s.type = 'text/javascript';
        s.src = 'https://' + disqus_shortname + '.disqus.com/count.js';
        (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
    }());
    </script>
{{/disqus_shortname}}
