<ul class="breadcrumb">
  <li><a href="/">Home</a> <span class="divider">/</span></li>
  <li class="active">powered by</li>
</ul>

<div>
    <h2>{{title}} is powered by:</h2>

    <div class="accordion" id="accordion2">
        <div class="accordion-group">
            <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseCouchdb">
                    CouchDB
                </a>
            </div>
            <div id="collapseCouchdb" class="accordion-body collapse">
                <div class="accordion-inner">
                    Apache CouchDB, commonly referred to as CouchDB, is an open source database that focuses on ease of use and on being "a database that completely embraces the web".[1] It is a NoSQL database that uses JSON to store data, JavaScript as its query language using MapReduce and HTTP for an API.[1] One of its distinguishing features is easy replication. CouchDB was first released in 2005 and later became an Apache project in 2008.
                    <ul class="nav"><li><a href="http://www.couchdb.org" target="_blank">CouchDB website</a></li></ul>
                </div>
            </div>
        </div>
        <div class="accordion-group">
            <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseNodejs">
                    node js
                </a>
            </div>
            <div id="collapseNodejs" class="accordion-body collapse">
                <div class="accordion-inner">
                    Node.js is a platform built on Chrome's JavaScript runtime for easily building fast, scalable network applications. Node.js uses an event-driven, non-blocking I/O model that makes it lightweight and efficient, perfect for data-intensive real-time applications that run across distributed devices.
                    <ul class="nav"><li><a href="http://nodejs.org/" target="_blank">node js website</a></li></ul>
                </div>
            </div>
        </div>
        <div class="accordion-group">
            <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseBogart">
                    bogart
                </a>
            </div>
            <div id="collapseBogart" class="accordion-body collapse">
                <div class="accordion-inner">
                    A blazing fast rapid application development web framework using JSGI for node js.
                    <ul class="nav"><li><a href="https://github.com/nrstott/bogart" target="_blank">bogart on github</a></li></ul>
                </div>
            </div>
        </div>
        <div class="accordion-group">
            <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseBootstrap">
                    Bootstrap
                </a>
            </div>
            <div id="collapseBootstrap" class="accordion-body collapse">
                <div class="accordion-inner">
                    Sleek, intuitive, and powerful front-end framework for faster and easier web development.
                    <ul class="nav"><li><a href="http://twitter.github.com/bootstrap" target="_blank">Bootstrap website</a></li></ul>
                </div>
            </div>
        </div>
        <div class="accordion-group">
            <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseWallaby">
                    Wallaby
                </a>
            </div>
            <div id="collapseWallaby" class="accordion-body collapse">
                <div class="accordion-inner">
                    Wallaby is a powerful yet simple framework for building Qt-based, cross-platform applications in PyQt/PySide with a CouchDB/CouchBase and elasticsearch backend.
                    <ul class="nav"><li><a href="http://www.freshx.de/wallaby" target="_blank">Wallaby website</a></li></ul>
                </div>
            </div>
        </div>
        <div class="accordion-group">
            <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseHowtonode">
                    Inspired by..
                </a>
            </div>
            <div id="collapseHowtonode" class="accordion-body collapse">
                <div class="accordion-inner">
                    <ul class="nav"><li><a href="http://howtonode.org/bogart-couchdb" target="_blank">HOW TO NODE - A Simple Blog with CouchDB, Bogart, and Node.js</a></li></ul>
                </div>
            </div>
        </div>
    </div>
</div>
