<ul class="breadcrumb">
  <li><a href="/">{{#__}}Home{{/__}}</a> <span class="divider">/</span></li>
  <li class="active">{{#__}}powered by{{/__}}</li>
</ul>

<div>
    <h2>{{title}}{{#__}} is powered by:{{/__}}</h2>

    <div class="accordion" id="accordion2">
        <div class="accordion-group">
            <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseCouchdb">
                    {{#__}}CouchDB{{/__}}
                </a>
            </div>
            <div id="collapseCouchdb" class="accordion-body collapse">
                <div class="accordion-inner">
                    {{#__}}Apache CouchDB, commonly referred to as CouchDB, is an open source database that focuses on ease of use and on being "a database that completely embraces the web".[1] It is a NoSQL database that uses JSON to store data, JavaScript as its query language using MapReduce and HTTP for an API.[1] One of its distinguishing features is easy replication. CouchDB was first released in 2005 and later became an Apache project in 2008.{{/__}}
                    <ul class="nav"><li><a href="http://www.couchdb.org" target="_blank">{{#__}}CouchDB website{{/__}}</a></li></ul>
                </div>
            </div>
        </div>
        <div class="accordion-group">
            <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseNodejs">
                    {{#__}}node js{{/__}}
                </a>
            </div>
            <div id="collapseNodejs" class="accordion-body collapse">
                <div class="accordion-inner">
                    {{#__}}Node.js is a platform built on Chrome's JavaScript runtime for easily building fast, scalable network applications. Node.js uses an event-driven, non-blocking I/O model that makes it lightweight and efficient, perfect for data-intensive real-time applications that run across distributed devices.{{/__}}
                    <ul class="nav"><li><a href="http://nodejs.org/" target="_blank">{{#__}}node js website{{/__}}</a></li></ul>
                </div>
            </div>
        </div>
        <div class="accordion-group">
            <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseBogart">
                    {{#__}}bogart{{/__}}
                </a>
            </div>
            <div id="collapseBogart" class="accordion-body collapse">
                <div class="accordion-inner">
                    {{#__}}A blazing fast rapid application development web framework using JSGI for node js.{{/__}}
                    <ul class="nav"><li><a href="https://github.com/nrstott/bogart" target="_blank">{{#__}}bogart on github{{/__}}</a></li></ul>
                </div>
            </div>
        </div>
        <div class="accordion-group">
            <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseBootstrap">
                    {{#__}}Bootstrap{{/__}}
                </a>
            </div>
            <div id="collapseBootstrap" class="accordion-body collapse">
                <div class="accordion-inner">
                    {{#__}}Sleek, intuitive, and powerful front-end framework for faster and easier web development.{{/__}}
                    <ul class="nav"><li><a href="http://twitter.github.com/bootstrap" target="_blank">{{#__}}Bootstrap website{{/__}}</a></li></ul>
                </div>
            </div>
        </div>
        <div class="accordion-group">
            <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseWallaby">
                    {{#__}}Wallaby{{/__}}
                </a>
            </div>
            <div id="collapseWallaby" class="accordion-body collapse">
                <div class="accordion-inner">
                    {{#__}}Wallaby is a powerful yet simple framework for building Qt-based, cross-platform applications in PyQt/PySide with a CouchDB/CouchBase and elasticsearch backend.{{/__}}
                    <ul class="nav"><li><a href="http://www.freshx.de/wallaby" target="_blank">{{#__}}Wallaby website{{/__}}</a></li></ul>
                </div>
            </div>
        </div>
        <div class="accordion-group">
            <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseHowtonode">
                    {{#__}}Inspired by..{{/__}}
                </a>
            </div>
            <div id="collapseHowtonode" class="accordion-body collapse">
                <div class="accordion-inner">
                    <ul class="nav"><li><a href="http://howtonode.org/bogart-couchdb" target="_blank">{{#__}}HOW TO NODE - A Simple Blog with CouchDB, Bogart, and Node.js{{/__}}</a></li></ul>
                </div>
            </div>
        </div>
    </div>
</div>
